<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>

    <div class="kutija">
        <div class="mjesto"> 
            <form action="/prijava/client" method="POST">
                <div>
                  <label for="say">Username</label>
                  <input name="username" id="username" value="">
                </div>
                <div>
                  <label for="to">Password</label>
                  <input name="password" id="password" value="">
                </div>
                <br>
                <div>
                    <input type="submit" value="Prijavi se">
                </div>
              </form>
              
        </div>
    </div>


    

    
</body>
</html>