<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <img src="slike/Pag.jpg" class="pozadina">
    <div class="sve">
       
        <div class="pozadina">
            <div class="quote"> Level Up Your Party Experience</div>
            

            <div class="prijava client box"> 
                <a href="/prijava/client">
                    <div class="tekst">
                    User prijava 
                    </div>

                </a>    
            </div>

            <div class=" prijava club box">
                <a href="/prijava/club">
                    <div class="tekst">
                    Klub prijava
                    </div>
                </a>

            </div>

            <div class=" reg client box kurac">
                <a href="/reg/client">
                    <div class="tekst ">
                    User registracija
                    </div>
                </a>

            </div>

            <div class="reg club box kl">
                <a href="/reg/club">
                    <div class="tekst">
                    Klub registracija
                    </div>
                </a>
            </div>
            
            

        
        </div>


    </div>
    
</body>
</html>